<header class="page-header">
<h1>Admin Dashboard</h1>
</header>

<table class="table table-bordered">
<thead>
  <tr>
    <th>Number of Categories</th>
    <th>Number of Products</th>
  </tr>
</thead>

<tbody>
  <tr>
    <th> <%= @categories %> </th>
    <th> <%= @products %> </th>
  </tr>
</tbody>

<tfoot>
  <tr>
    <th><%= link_to "Categories", admin_root_path %></th>
    <th><%= link_to "Products", root_path %></th>
  </tr>
</tfoot>