<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h6><%= @order.email %></h6>
    </div>
  
    <div> 
    <% @order.line_items.each do |render_line_item| %>
      <%= render 'render_line_item', product: render_line_item.product, quantity: render_line_item.quantity.to_i %>
      <% end %>

    </section>